.App-Component {
  font-family: sans-serif;
  text-align: center;
  background-color: #35155D;
  padding: 32px;
  height: 100vh;
}
h1{
  margin: 0;
}
.list{
  background-color: #eee;
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.input-container{
  display: flex;
  justify-content: center;
  column-gap: 16px;
}
.update-task-section{
  display: flex;
  column-gap: 16px;
}
.CTA-container{
  display: flex;
  column-gap: 8px;
}